* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f6f6f6;
  padding: 10px 10px;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 20px 0;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 20px rgb(213, 213, 226);
  gap: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  padding: 20px 0;
  border-radius: 10px;
}

nav {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(0, 12, 117);
}

nav a {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav a:hover {
  transition: 0.4s;
  background: rgb(255, 255, 255);
  color: rgb(25, 0, 255);
}

header input {
  padding: 15px;
  border: none;
  outline: none;
  background: rgb(248, 247, 247);
  border-radius: 10px;
}

.conten-card {
  background: rgb(174, 180, 243);
  padding: 10px;
  border-radius: 10px;
}

.titel-section {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 5px;
  width: 150px;
  border-radius: 0 100px 100px;
  background: rgb(4, 163, 184);
  color: #f6f6f6;
}

section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: rgb(0, 224, 253);
  border-radius: 10px;
  margin-bottom: 20px;

  gap: 20px;
}

.content {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 20px;
}

.content-card {
  width: 300px;
  height: fit-content;
  padding: 15px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.titel {
  font-size: 25px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.discri {
  text-align: justify;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(241, 237, 237);
}

.accition {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  background: rgb(19, 2, 255);
}

button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.add {
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(7, 247, 7);
}

.add:hover {
  transition: 100ms;
  background: rgb(7, 230, 7);
}

.cerrar {
  color: white;
  border-radius: 10px;
  border: 1px solid red;
}

.cerrar:hover {
  transition: 100ms;
  background: red;
}

.content-grid {
  display: flex;
  flex-flow: column;
  gap: 10px;
  background: rgb(202, 201, 201);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-grid {
  border-radius: 10px;
  padding: 10px;
  background: rgb(255, 255, 255);
}

img {
  border-radius: 5px;
  width: 100%;
  height: 10rem;
}

.conten-info-grid {
  padding: 10px;
  height: fit-content;
  border-radius: 10px;
  background: rgb(17, 3, 139);
  color: white;
}

.titel-grid {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background: rgb(98, 208, 241);
}

.descri {
  margin-top: 5px;
  padding: 10px;
  height: 70%;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.445);
}

@media only screen and (min-width: 755px) {
  header {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    padding: 20px 0;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 20px rgb(213, 213, 226);
    position: sticky;
    top: 10px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
  }

  .content-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    background: rgb(211, 209, 209);
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    margin-bottom: 20px;
  }

  .titel-section {
    width: 150px;
  }

  .conten-card {
    width: 100%;
  }
}
