* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f6f6f6;
  padding: 10px 10px;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  padding: 20px 0;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 20px rgb(213, 213, 226);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  padding: 20px 0;
  border-radius: 10px;
}

nav {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
}

nav a {
  padding: 10px;
  border: 1px solid rgb(0, 0, 209);
  border-radius: 5px;
  text-decoration: none;
  color: rgb(9, 28, 201);
}

nav a:hover {
  transition: 0.4s;
  background: rgb(4, 4, 196);
  color: white;
}

header input {
  padding: 15px;
  border: none;
  outline: none;
  background: rgb(248, 247, 247);
  border-radius: 10px;
}

.content {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 15px;
}

.content-card {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.titel {
  font-size: 25px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.discri {
  text-align: justify;
  background-color: rgb(241, 237, 237);
}

.accition {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  background: rgb(19, 2, 255);
}

button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.add {
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(7, 247, 7);
}

.add:hover {
  transition: 100ms;
  background: rgb(7, 230, 7);
}

.cerrar {
  color: white;
  border-radius: 10px;
  border: 1px solid red;
}

.cerrar:hover {
  transition: 100ms;
  background: red;
}

.content-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  height: 50rem;
  margin-bottom: 20px;
}

.card-grid {
  border-radius: 10px;
  padding: 10px;
  background: rgb(255, 255, 255);
}

img {
  border-radius: 5px;
  width: 100%;
  height: 9rem;
}

.conten-info-grid {
  padding: 10px;
  height: 60%;
  border-radius: 10px;
  background: rgb(17, 3, 139);
  color: white;
}

.titel-grid {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background: rgb(98, 208, 241);
}

.descri {
  margin-top: 5px;
  padding: 10px;
  height: 70%;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.445);
}
