* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  margin: 19px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

header ul li {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 145, 0);
}
header ul li:hover {
  background-color: rgb(255, 127, 8);
  transform: translateY(-2px);
}

header ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(550deg, orange, red);
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
}
.hero h1 {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.hero p {
  color: white;
  font-size: 20px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.content h2 {
  text-align: center;
  padding: 10px;
  color: white;
  background: rgb(255, 127, 8);
  border-radius: 10px;
  margin: 5px;
}

.content p {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}

img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
  background: rgb(231, 13, 13);
}

footer {
  text-align: center;
  padding: 20px;
  background: rgb(255, 127, 8);
  color: white;
  border-radius: 10px;
  margin: 5px;
}
